{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>Service Details - Dental Clinic</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="{% static 'css/all.min.css' %}">
	<!-- bootstrap -->
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
	<!-- owl carousel -->
	<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
	<!-- magnific popup -->
	<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
	<!-- animate css -->
	<link rel="stylesheet" href="{% static 'css/animate.css' %}">
	<!-- mean menu css -->
	<link rel="stylesheet" href="{% static 'css/meanmenu.min.css' %}">
	<!-- main style -->
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<!-- responsive -->
	<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
	
</head>
<body>
	
	<!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->
	
	{% include 'Includes/navbar.html' %}
	
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Service Details</p>
						<h1>Service Details</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- service details section -->
	<div class="product-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">	
						<h3><span class="orange-text">{{ service.name }}</span></h3>
						<p>{{ service.meta_description }}</p>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-6">
					<div class="service-images-grid">
						<div class="row">
							{% for image in service.images.all %}
							<div class="col-6 mb-3">
								<div class="service-image-item">
									<img src="{{ image.image.url }}" alt="{{ image.alt_text|default:service.name }}" class="img-fluid service-grid-image">
								</div>
							</div>
							{% empty %}
							<div class="col-12">
								<div class="service-image-item">
									<img src="{% static 'img/products/default.jpg' %}" alt="{{ service.name }}" class="img-fluid service-grid-image">
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="service-content">
						<h4>Service Description</h4>
						<p>{{ service.description|linebreaks }}</p>
						
						<div class="service-features">
							<h5>Why Choose This Service?</h5>
							<ul>
								<li><i class="fas fa-check-circle"></i> Professional dental care</li>
								<li><i class="fas fa-check-circle"></i> Modern equipment and techniques</li>
								<li><i class="fas fa-check-circle"></i> Experienced dental professionals</li>
								<li><i class="fas fa-check-circle"></i> Comfortable and safe environment</li>
							</ul>
						</div>
						
						<div class="service-actions">
							<a href="{% url 'frontend:appointment' %}" class="boxed-btn">
								<i class="fas fa-calendar-alt"></i> Book Appointment
							</a>
							<a href="{% url 'frontend:services' %}" class="boxed-btn">
								<i class="fas fa-arrow-left"></i> Back to Services
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end service details section -->

    	<!-- footer -->
	{% include 'Includes/footer.html' %}

	
	<!-- jquery -->
	<script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
	<!-- bootstrap -->
	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	<!-- count down -->
	<script src="{% static 'js/jquery.countdown.js' %}"></script>
	<!-- isotope -->
	<script src="{% static 'js/jquery.isotope-3.0.6.min.js' %}"></script>
	<!-- waypoints -->
	<script src="{% static 'js/waypoints.js' %}"></script>
	<!-- owl carousel -->
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<!-- magnific popup -->
	<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
	<!-- mean menu -->
	<script src="{% static 'js/jquery.meanmenu.min.js' %}"></script>
	<!-- sticker js -->
	<script src="{% static 'js/sticker.js' %}"></script>
	<!-- main js -->
	<script src="{% static 'js/main.js' %}"></script>

</body>
</html>