<!-- this is footer file  -->
    {% load static %}
    <!-- footer -->
	<div class="footer-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="footer-box about-widget">
						<h2 class="widget-title">About DentalCom</h2>
						<p>Your trusted partner in dental care. We provide comprehensive dental treatments, cosmetic dentistry, and preventive care using state-of-the-art technology and a patient-centered approach. Your smile is our priority.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box get-in-touch">
						<h2 class="widget-title">Get in Touch</h2>
						<ul>
							<li>123 Dental Avenue, Suite 200, Medical Plaza</li>
							<li>info@dentalcom.com</li>
							<li>+1 (555) 123-4567</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box pages">
						<h2 class="widget-title">Pages</h2>
						<ul>
							<li><a href="{% url 'frontend:home' %}">Home</a></li>
							<li><a href="{% url 'frontend:about' %}">About</a></li>
							<li><a href="{% url 'frontend:shop' %}">Shop</a></li>
							<li><a href="{% url 'frontend:news' %}">News</a></li>
							<li><a href="{% url 'frontend:contact' %}">Contact</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box subscribe">
						<h2 class="widget-title">Newsletter</h2>
						<p>Subscribe to receive dental health tips, special offers, and appointment reminders.</p>
						<form action="{% url 'frontend:home' %}">
							<input type="email" placeholder="Your email address">
							<button type="submit"><i class="fas fa-paper-plane"></i></button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end footer -->
	
	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<p>Copyrights &copy; 2025 - <a href="https://www.qhenterprises.com/">Q&H Enterprises</a>,  All Rights Reserved.<br>
						Distributed By - <a href="https://www.qhenterprises.com/">Q&H Enterprises</a>
					</p>
				</div>
				<div class="col-lg-6 text-right col-md-12">
					<div class="social-icons">
						<ul>
							<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end copyright -->